.client-message-container {
  height: 82vh;
  position: relative;
}

.client-message-header-container {
  background-color: var(--white);
}

.client-message-body-container {
  height: 64vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.client-message-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
