.client-stack-channels-header {
  margin-top: 2rem;
}

.client-stack-channels {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.client-stack-channels-container {
  overflow-y: auto;
  max-height: 25vh;
}

.client-stack-channels-no-channels {
  padding: 0.4rem;
  border-radius: 0.4rem;
}
