.client-stack-channels-header {
  margin-top: 1rem;
}

.client-stack-channels {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.client-stack-channels-container {
  overflow-y: auto;
  height: 20vh;
}
