.client-message-container {
  height: 82vh;
  position: relative;
}

.client-message-header-container {
  background-color: var(--white);
}

.client-message-body-container {
  height: 64vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.client-message-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.client-message-body {
  padding: 1rem;

  &:hover {
    background-color: var(--gray-75);
  }
}

.client-message-body-profile {
  display: flex;
}

.client-message-body-name-timestamp-container {
  margin-top: -0.3rem;
}

.client-message-body-name {
  margin-left: 0.5rem;
}

.client-message-body-timestamp {
  @extend .client-message-body-name;

  color: var(--default);
  font-size: small;
  font-weight: 400;
}

.client-message-body-text {
  margin-top: 0.3rem;
  margin-left: 4rem;
}
