.client-navbar {
  overflow-y: auto;
}

.client-nav-hover {
  &:hover {
    background-color: var(--gray-75);
  }
}

.client-add-button {
  margin-left: 0.5rem;
}

.client-navbar-divider {
  margin-left: -16px;
  margin-right: -16px;
  border-top-color: var(--divider);
}
