.client-navbar {
  overflow-y: auto;
}

.client-add-button {
  margin-left: 0.5rem;
}

.client-stack-channels-header {
  margin-top: 1rem;
}

.client-stack-channels {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.client-stack-direct-messages-header {
  margin-top: 2rem;
}

.client-stack-direct-messages {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.client-nav-hover {
  &:hover {
    background-color: var(--gray-75);
  }
}
