.client-container {
  background-color: var(--white);
}
.client-header-container {
  background-color: var(--dark);
}
.client-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.client-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.client-logo-size {
  font-size: 2rem;
}

.client-logo-margin {
  margin-top: -0.2rem;
  margin-left: 0.2rem;
}

.client-logout-container {
  position: absolute;
  right: 0;
}

.client-navbar {
  overflow-y: auto;
}

.client-add-button {
  margin-left: 0.5rem;
}

.client-stack-channels-header {
  margin-top: 2rem;
}

.client-stack-channels {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.client-stack-direct-messages-header {
  margin-top: 2rem;
}

.client-stack-direct-messages {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.client-nav-hover {
  &:hover {
    background-color: var(--hover);
  }
}
